ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  color: white;
  height: 70px;
  animation: headerFadeIn 1s ease-in;
}

.header-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  animation: textFadeIn 1.5s ease-in-out;
}
.custom-grid {
  border-collapse: collapse;
  width: 100%;
}

.header-row {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-row {
  border-bottom: 1px solid #ddd;
}


ion-row ion-col {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


.custom-footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}
.custom-card {
  --background: #000; 
  color: white; 
}



