/* Custom styles to make the application more stylish */

/* Header */
.custom-toolbar {
  background-color: #333; /* Header background color */
  color: white; /* Header text color */
}

.custom-logo-button img {
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

.custom-header-title {
  font-size: 30px;
}

/* Centered Image */
.custom-center-image {
  max-width: 100%;
  height: auto;
}

/* Card */
/* Card */
.custom-card {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent card background color */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Card shadow */
  max-width: 400px; /* Set the maximum width for the card */
  margin: 0 auto; /* Center the card horizontally */
}

.butSubmit{
  background-color: #CB8D1C;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  margin-top: 20px;
  animation: bounceIn 1s ease 1.5s;
 }


/* Form */
.custom-form {
  text-align: center;
}

.custom-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.custom-input {
  background-color: #f4f4f4; /* Input background color */
  border-radius: 10px;
}

.custom-input ion-input {
  font-size: 16px;
}

.custom-button {
  background-color: #ff5722; /* Custom button color */
  color: white; /* Button text color */
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}

/* Links */
.custom-links {
  margin-top: 15px;
}

.custom-link {
  font-weight: bold;
  color: #56221F; /* Link text color */
  cursor: pointer;
}

.custom-forgot-link {
  margin-top: 10px;
}

/* Footer */
.custom-footer {
  text-align: center;
  background-color: #065D78; /* Footer background color */
  color: white; /* Footer text color */
  padding: 10px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
}

.logo {
  width: 100%;
  height: 100%;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100px;
  text-align: center;
  background-color: #56221F;
}
