<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png">
    </ion-buttons>
    <ion-title class="header-title">Staff Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-button id="popover-button" >
          <ion-icon name="person"></ion-icon>
        </ion-button>

        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list >
                <ion-item lines="none" [button]="true" [detail]="false" (click)="goToView()" ><ion-icon name="eye" ></ion-icon> &nbsp;  Profile</ion-item>
                <ion-item lines="none" [button]="true" [detail]="false"  (click)="presentConfirmationAlert()"><ion-icon name="exit"></ion-icon>&nbsp;<p>LOGOUT</p></ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
<!-- 
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item lines="none" [button]="true" [detail]="false" (click)="goToView()">
                  <ion-icon name="eye"></ion-icon> &nbsp; VIEW PROFILE</ion-item>
                <ion-item lines="none" [button]="true" [detail]="false" (click)="presentConfirmationAlert()">
                  <ion-icon color="danger" name="exit"></ion-icon>&nbsp;
                  <p>LOGOUT</p>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-content>
      <br>
      <div class="color2">
        <ion-label>Email Address</ion-label>
        <ion-item class="rounded">
          <ion-input type="email" [(ngModel)]="email" name="email" (input)="emailError = null;"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="emailError">{{ emailError }}</div>
        <br>
        <button class="butSubmit" expand="block" (click)="reset()">Reset</button>
        
        <div class="form-section">
          <p>I got a password <a href="applicant-login()">Log in</a> </p>
        </div>
        <div class="align">
          <!-- Content of the div -->
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="custom-footer">
  Designed with ❤️ by <b>MUT INNOVATIONLAB</b>
</ion-footer>