
<ion-content class="ion-padding welcome-page">
  <div class="container">
    <div class="image-container">
      <img src="assets/logo.jpg" alt="Logo" class="logo">
    </div>
    <h1 class="app-title">Welcome to Mangosuthu University of Technology</h1>
    <p class="app-description">Discover all the oppurtunities.</p>
    <button class="butSubmit" (click)="Login()">EXPLORE</button>
  </div>
</ion-content>
<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>

