/* src/app/home/home.page.scss */

/* src/app/home/home.page.scss */

/* Header Styles */
ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  color: white;
  height: 70px;
  animation: headerFadeIn 1s ease-in;
}

.header-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  animation: textFadeIn 1.5s ease-in-out;
}

/* Menu Button Styles */
ion-menu-button {
  color: white;
  transition: transform 0.3s ease-in-out;
}

ion-menu-button:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #56221F;
}

.image-container {
  width: 300px; /* Adjust the width to your desired size */
  height: 200px; /* Adjust the height to your desired size */
  border-radius: 15px; /* Add rounded corners to the rectangle */
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
}

.logo {
  width: 100%;
  height: 100%;
  
}

/* Rest of the styles remain the same */


.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff; /* White text color */
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.app-description {
  font-size: 18px;
  color: #ddd; /* Light gray text color */
  margin-bottom: 30px;
}

.learn-more-button {
  font-size: 20px;
  --border-radius: 30px;
  --padding-start: 40px;
  --padding-end: 40px;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Footer */
.custom-footer {
  text-align: center;
  background-color: #333; /* Footer background color */
  color: white; /* Footer text color */
  padding: 10px;
}




